* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

img {
    width: 300px;
    height: 350px;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}